{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}
<div class="ui one column grid container">
    <div class="column">
	    <h1>Schedules 	
	      	<a class="ui yellow right floated button" href="{{ url_for('schedules.attribute_add') }}">Add Attribute</a>
	      	<a class="ui green right floated button" href="{{ url_for('schedules.add') }}">Add Schedule</a>
	    </h1>
	    <table class="ui striped table">
      	<thead>
	      <tr>
	      	<th>View</th>
	      	<th>Start</th>
	      	<th>End</th>
	      	<th>Complete</th>
	      	<th>Procedure</th>
	      	<th>Asigneed To</th>
	      	<th>Specimens</th>
	      	{% for attribute in attributes %}
	      		<th><a href='{{ url_for("schedules.attribute_edit", schedule_attribute_id=attribute.id) }}'>{{ attribute.name|uc_words }}</a></th>
	      	{% endfor %}
	      </tr>
	  </thead>
	  <tbody>
	      {% for schedule in schedules %}
	      <tr>
	      	<td nowrap><a href="{{ url_for('schedules.view', schedule_id=schedule.id) }}">View</a></td>
	      	<td>{{ schedule.start_datetime }}</td>
	      	<td>{{ schedule.end_datetime }}</td>
	      	<td>{% if schedule.experiments|length > 0 %}<i class="ui icon check"></i>{% endif %}</td>
	      	<td>{{ schedule.get_procedure() }}</td>
	      	<td>{{ schedule.users }}</td>
	      	<td>{{ schedule.specimens }}</td>
	      	{% for attribute in attributes %}
	      		<td>{{schedule.attributes.get(attribute.name)}}</td>
	      	{% endfor %}
	      </tr>
	      {% endfor %}
	  </tbody>
	  </table>
    </div>
</div>
{% endblock %}
