{% extends "base.html" %}
{% block title %}Collect Data{% endblock %}

{% block content %}
<div class="ui grid container">
  <div class="sixteen wide column">
      <h1>Collect Data For {{ schedule.get_procedure() }}</h1>
  </div>
  <div class="four wide column">
    <div class="ui vertical menu">
          {% for specimen in schedule.specimens %}
            {% set i = specimen.id %}
            <a class="ui item {% if loop.first %}active{% endif %}" data-tab="{{ i }}">{{ specimen.name }}
              
            </a>
          {% endfor %}
    </div>
  </div>
     <div class="twelve wide column">
      

      <form class="ui equal width form" action="{{ url_for('site.collect_data', schedule_id=schedule.id) }}" method="POST" enctype="multipart/form-data">
        
        {% for specimen in schedule.specimens %}
        {% set i = specimen.id %}
        <div class="ui tab segment {% if loop.first %}active{% endif %}" data-tab="{{ i }}">
          <lable class="ui blue ribbon label">{{ specimen.name }}</lable>
            {% for parameter in schedule.get_procedure().parameters %}
            {% if loop.index % 3 == 1 %}
              <div class="fields">
            {% endif %}
                <div class="field {% if parameter.required %}required{% endif %}">
                  <label for='[{{ parameter }}][{{ i }}]'>{{ parameter.name|uc_words }}</label>

                  {% set datatype = parameter.get_datatype() %}
                  {% if datatype == 'Option' %}

                        <select class='ui fluid search dropdown' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>
                          {% for option in parameter.options %}
                            <option value='{{ option.id }}'>{{ option.name }}</option>
                          {% endfor %}
                        </select>

                  {% elif datatype == 'Decimal' %}

                      <div class="ui {% if parameter.unit %}right labeled{% endif %} input">
                        <input type='number' step="0.01" min="{{ parameter.datamin }}" max='{{ parameter.datamax }}' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>
                        {% if parameter.unit %}
                          <div class="ui basic label">
                            {{ parameter.unit }}
                          </div>
                        {% endif %}
                      </div>

                  {% elif datatype == 'Integer' %}

                      <div class="ui {% if parameter.unit %}right labeled{% endif %} input">
                        <input type='number' min="{{ parameter.datamin }}" max='{{ parameter.datamax }}' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>
                        {% if parameter.unit %}
                          <div class="ui basic label">
                            {{ parameter.unit }}
                          </div>
                        {% endif %}
                      </div>

                  {% elif datatype == 'Character' %}
                    
                        <input type='text' minlength="{{ parameter.datamin }}" maxlength='{{ parameter.datamax }}' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>

                  {% elif datatype == 'Boolean' %}
                  
                        <input type='checkbox' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>
                      

                  {% elif datatype == 'Datetime' %}
                    
                        <input type='datetime-local' min="{{ parameter.datamin }}" max='{{ parameter.datamax }}' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>

                  {% elif datatype == 'Date' %}
                  
                        <input type='date-local' min="{{ parameter.datamin }}" max='{{ parameter.datamax }}' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>

                  {% elif datatype == 'Time' %}
                   
                        <input type='time-local' min="{{ parameter.datamin }}" max='{{ parameter.datamax }}' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>

                  {% elif datatype == 'Text' %}
                    
                        <textarea minlength="{{ parameter.datamin }}" maxlength='{{ parameter.datamax }}' name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}></textarea>

                  {% elif datatype == 'File' %}

                      <input type="file" name='[{{ parameter }}][{{ i }}]' {% if parameter.required %}required{% endif %}>
                  {% else %}
                    
                        <p class="ui red text">There was an error retrieving this parameter</p>
                    {% endif %}
                  </div>
                {% if loop.index % 3 == 0 or loop.last %}
                  </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
          <button class="ui green button" type="submit">Submit</button>
        </form>
      </div>
    </div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $('.vertical.menu .item').tab();
  })

  $('.form').on("change", function(){
    let valid = true;
    var specimen = $('.vertical.menu .item.active').data('tab');
    $('.tab[data-tab='+ specimen +'] [required]').each(function() {
      if ($(this).is(':invalid') || !$(this).val()) {
        valid = false;
      }
    })
    if (valid){
      $('.vertical.menu .item.active').append('<i class="check icon inline green"></i>');
    } 
    else{
      $('.vertical.menu .item.active .icon').remove()
    }
  })
</script>
{% endblock %}
