{% extends "base.html" %}
{% block title %}{{ procedure }} Data{% endblock %}

{% block content %}
<div class="ui one column grid container">
     <div class="column">
      {% if experiments|length > 0 %}
          <h1>{{ procedure }} Data</h1>
          <table class="ui striped table">
          	<thead>
          		<tr>
          		  <th>Specimen</th>
          		
    	      	  {% for parameter in procedure.parameters %}
    	      	  		<th>
                      {{ parameter.name|uc_words }}
                      {% if parameter.get_datatype() in ['Integer', 'Decimal'] %}
                        <a href="{{ url_for('site.outliers', parameter_id=parameter.id) }}"><i class="chart area icon"></i></a>
                      {% endif %}
                    </th>
    		        {% endfor %}
    		      </tr>
    	      </thead>
    	      <tbody>
      	      {% for experiment in experiments %}
      	      <tr>
            		<td>{{ experiment.get_specimen() }}</td>
            	
            	  {% for data_point in experiment.data_points %}
                  {% if data_point.get_parameter().get_datatype() == 'Decimal' %}
            	  		<td>{{ data_point.get_value().value|round(2) }}</td>
                  {% else %}
                    <td>{{ data_point.get_value() }}</td>
                  {% endif %}
      	      {% endfor %}
    	  	    </tr>
              {% endfor %}
    	      </tbody>
    	  </table>
      {% else %}
      <h1>No Data For {{ procedure }} Has Been Collected</h1>
      {% endif %}
     </div>
</div>
{% endblock %}