{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block content %}

<div class="ui stackable grid">
  <div class="four wide column"></div>
  <div class="center aligned ten wide column">
{% if roles %}
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Role ID
                    <a href="{{url_for('admin.role_list', page=1)}}?sort=id&d=asc">
                      <i class='caret up icon'></i>
                    </a>
                    <a href="{{url_for('admin.role_list', page=1)}}?sort=id&d=desc">
                      <i class='caret down icon'></i>
                    </a>
                </th>
                <th>Name
                    <a href="{{url_for('admin.role_list', page=1)}}?sort=name&d=asc">
                      <i class='caret up icon'></i>
                    </a>
                    <a href="{{url_for('admin.role_list', page=1)}}?sort=name&d=desc">
                      <i class='caret down icon'></i>
                    </a>
                </th>
                <th>Description</th>
                <th>Edit</th>
                {% if current_user.is_admin() %}<th>delete</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for role in roles.items %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td><a class='ui tiny yellow button' href="{{ url_for('admin.edit_role', role_id=role.id) }}"><i class='pencil icon'></i>Edit</a></td>
                {% if current_user.is_admin() %}<td><a class='ui tiny red button' href="{{ url_for('admin.delete_role', role_id=role.id) }}"><i class='trash icon'></i>Edit</a></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% else %}
  <p> You don't have any roles </p>
  {% endif %}
 
  {% if roles.has_prev %}
    <a class='ui mini button blue left floated' href="{{ url_for('admin.role_list', page=roles.prev_num) }}{% if 'sort' in request.args %}?sort={{request.args['sort']}}&d={{request.args['d']}}{% endif %}">
      <i class='icon caret left'></i>
    </a>
  {% endif %}

  {% if current_user.has_role('manager') %}
    <a href="{{ url_for('admin.create_role') }}" class="ui mini button green"><i class='plus icon'></i> Create Role</a>
  {% endif %}

  {% if roles.has_next %}
    <a class='ui mini button blue right floated' href="{{ url_for('admin.role_list', page=roles.next_num) }}{% if 'sort' in request.args %}?sort={{request.args['sort']}}&d={{request.args['d']}}{% endif %}">
      <i class='icon caret right'></i>
    </a>
  {% endif %}

  </div>
</div>

{% endblock %}
