{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block content %}

<div class="ui one column grid container">
    <div class="column">
    <h1>Roles
        <a class="ui green right floated button" href="{{ url_for('admin.create_role') }}">Add Role</a>
    </h1>
    {% if roles %}
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Role ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
                {% if current_user.is_admin() %}<th>Delete</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td><a class='ui tiny yellow button' href="{{ url_for('admin.edit_role', role_id=role.id) }}"><i class='pencil icon'></i>Edit</a></td>
                {% if current_user.is_admin() %}<td><a class='ui tiny red button' href="{{ url_for('admin.delete_role', role_id=role.id) }}"><i class='trash icon'></i>Delete</a></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% else %}
  <p> You don't have any roles </p>
  {% endif %}

  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $('table.striped.table').DataTable();
  })
</script>
{% endblock %}